---
interface Props {
  title: string
  image?: string
  description?: string
}

const { title, image = '', description = '' } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <!-- SEO -->
    <meta name='description' content={description} />
    <meta name='author' content='Leandro Arturi' />

    <!-- Open Graph Metatags -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />

    <title>{title}</title>

    <!-- View Transitions -->
    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>
  <body class='bg-slate-900 text-slate-100 m-auto max-w-3xl mt-6'>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
